.navigation {
    width: 90%;
    background-color: rgba(246, 246, 246, 0.997);
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.nav-items {
    margin: 0 auto;
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo-img {
    height: 100px;
}

.nav-items a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.active {
    text-decoration: underline;
}