.notifications {
    display: flex;
    justify-content: end;
    align-items: center;
}

.notification {
    font-size: 18px;
    color: #2BAA76;
    display: none;
}

.notification span {
    padding:  8px 28px;
    border-radius: 6px;
    border: 2px solid #2BAA76;
    background-color: #ffffff;
}    
